h1{
    color:darkseagreen;
    font-size: 100px;
}

p{
    font-size: 50px;
    color: red;
}
a{
    color: green;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
