<!DOCTYPE html>
<html>

<head>
    <meta charset="utf.8">
    <link rel="stylesheet" href="admin-site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>{{uses}}</h1> 
<style>
h1{
    
    color:white;
    font-size: 300px;
}      

html {
    background: url("https://as2.ftcdn.net/v2/jpg/04/39/69/99/1000_F_439699926_GkaQTcxPchsvvtdrZ98cFQh1a8HQICwP.jpg")  no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    text-align: center;
    
  }

    
</style>
</body>
</html>